/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
    font-family: 'Bozar PM';
    src: url('../fonts/BozarPM-Light.eot');
    src: url('../fonts/BozarPM-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BozarPM-Light.woff2') format('woff2'),
        url('../fonts/BozarPM-Light.woff') format('woff'),
        url('../fonts/BozarPM-Light.svg#BozarPM-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-alpha: #E8AE23;
    --global-color-alpha-hover: #e6d5ae;
    /* whitespace */
    --global-font-size: 0.4rem;

    --global-baseline: 6px;
    --global-whitespace: calc(var(--global-baseline) * 2);
    --global-whitespace-xs: calc(var(--global-baseline) * .5);
    --global-whitespace-sm: calc(var(--global-baseline) * 1);
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    --global-whitespace-lg: calc(var(--global-baseline) * 4);
    --global-whitespace-xl: calc(var(--global-whitespace) * 2);
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3);

    /* main */
    --global-background-color: #000;
    --global-margin: 48px;
    --global-width: calc(100vw - var(--global-margin)*2);
    --global-borderRadius: 5px;

    --global-card-backgroundColor: #000;


    /* stream */
    --global-stream-borderWidth: 2px;
    --global-stream-width: calc(var(--global-width) - var(--global-stream-borderWidth)*2);

    /* overlay */
    --global-overlay-width: 360px;
    --global-overlay-padding: 15px;
    --global-overlay-cam-width: calc(var(--global-overlay-width) - var(--global-overlay-padding)*2);
    --global-overlay-left: 15%;
    --global-overlay-backgroundColor: rgb(43, 42, 42);


    /* icons */
    --global-icon-width: calc(var(--global-baseline) * 4);
    --global-icon-cam-width: calc(var(--global-baseline) * 4);
    --global-icon-backgroundColor: var(--global-color-alpha);
    --global-icon-backgroundColor-hover: var(--global-color-alpha-hover);

    --global-iconfield-width: calc(var(--global-baseline) * 6);

    --global-icon-overlay-width: calc(var(--global-baseline) * 6);

    --global-iconfieldCancel-width: calc(var(--global-baseline) * 5);
    --global-icon-overlayCancel-width: calc(var(--global-baseline) * 2);

    /* input */
    --input-borderRadius: 5px;
    --input-borderWidth: 1px;
    --input-borderColor: #888484;
    --input-backgroundColor: #FFFF;
    --input-lineHeight: calc(var(--global-baseline) * 2);

    /* button */
    --button-borderRadius: 5px;
    --button-borderColor: #888484;
    --button-backgroundColor: var(--global-color-alpha);
    --button-backgroundColor-hover: var(--global-color-alpha-hover);
    --button-font-size: calc(var(--global-font-size) * 1.5);

    /* card */
    --card-backgroundColor: #FFF;

    /* photowall */
    --pw-image-height: 15vh;

    /* transitions */
    --global-transition-icons: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    --global-transition-button: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    :root {
        --global-stream-borderWidth: 3px;
        --global-font-size: 0.9rem;
        --global-margin: 264px;
        --global-overlay-width: 1340px;
        --global-icon-width: calc(var(--global-baseline) * 6);
        --global-icon-cam-width: calc(var(--global-baseline) * 6);
        --global-iconfield-width: calc(var(--global-baseline) * 10);
        --global-iconfieldCancel-width: calc(var(--global-baseline) * 8);
        --global-icon-overlayCancel-width: calc(var(--global-baseline) * 2);

        --pw-image-height: 30vh;
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and  (max-width: 1280px){
    :root {
        --global-stream-borderWidth: 3px;
        --global-font-size: 0.8rem;
        --button-font-size: calc(var(--global-font-size) * 1.5);
        --global-margin: 230px;
        --global-overlay-width: 1340px;
        --global-icon-width: calc(var(--global-baseline) * 4);
        --global-icon-cam-width: calc(var(--global-baseline) * 6);
        --global-iconfield-width: calc(var(--global-baseline) * 8);
        --pw-image-height: 20vh;
        --global-overlay-width: 1280px;
        --global-iconfieldCancel-width: calc(var(--global-baseline) * 8);
        --global-icon-overlayCancel-width: calc(var(--global-baseline) * 2);
        /* --input-lineHeight: calc(var(--global-baseline) * 4); */
    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    :root {
        --global-font-size: 0.6rem;
        --global-margin: 80px;
        --global-icon-width: calc(var(--global-baseline) * 4);
        --global-iconfield-width: calc(var(--global-baseline) * 8);
        --pw-image-height: 20vh;
        --global-iconfieldCancel-width: calc(var(--global-baseline) * 7);
        --global-icon-overlayCancel-width: calc(var(--global-baseline) * 2);
    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */

}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Bozar PM', sans-serif;
    color: Black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../img/kronkel\ goud.png');
    background-color: var(--global-background-color);

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: orange;
    color: white;
    text-shadow: none;
}

::selection {
    background: orange;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: calc(var(--global-font-size) * 3.5);
    line-height: calc(var(--global-font-size) * 4.125);
    /* margin: 0 0 24px; */
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

/* ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
} */

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: inline-block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral);
}

input:disabled {
    cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}


.o-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--global-width);
    /* 79.5 * 16px = 1272 */
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: rgb(156, 116, 116); */
}

.o-container-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 79.5 * 16px = 1272 */
    width: 100%;
    height: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    position: relative;
}

.o-section+.o-section {
    padding-top: 8px;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-bg {
    position: absolute;
    /* z-index: 1; */
    background-image: url("../img/kronkel\ goud.png");
    /* height: 100%; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.c-global-container {
    opacity: 50%;
}

/*
    Component: Stream
*/

.c-content-container {
    border: var(--global-stream-borderWidth) solid #FFF;
    padding: var(--global-stream-padding);
    background-color: var(--global-card-backgroundColor);
    border-radius: var(--global-borderRadius);
}

.c-stream-container {
    width: 100%;
    height: 100%;
    /* margin-top: calc(var(--global-margin) / 4); */
    /* backgr ound-color: var(--global-card-backgroundColor); */
    /* border-radius: var(--global-borderRadius); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-stream__header {
    align-self: center;
}

.c-stream__content {
    width: var(--global-stream-width);
    height: calc(var(--global-stream-width) * 0.57);
    /* background-color: rgb(78, 76, 76); */
    border-radius: var(--global-borderRadius);
}

.c-stream__content-timer {
    /* width: var(--global-stream-width); */
    /* height: calc(var(--global-stream-width) * 0.57); */
    padding: calc(var(--global-whitespace-xxl)*2)  var(--global-whitespace-xxl);
    /* background-color: var(--global-background-color); */
    border-radius: var(--global-borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .c-stream__content-timer {
        padding: calc(var(--global-whitespace-xxl)*4)  var(--global-whitespace-xxl);
    }

}

.c-stream-title {
    text-align: center;
    font-size: calc(var(--global-font-size) * 4);
    line-height: calc(var(--global-font-size) * 4.125);;
    color: #FFF;
}

.c-stream-header {
    text-align: center;
    font-size: calc(var(--global-font-size) * 3);
    line-height: calc(var(--global-font-size) * 4.125);;
    color: #FFF;
}

.c-stream-timer {
    text-align: center;
    font-size: calc(var(--global-font-size) * 3);
    line-height: calc(var(--global-font-size) * 4.125);;
    color: #FFF;
}



.c-int-container {
    width: 100%;
    height: 110px;
    border-radius: 5px;
    border: var(--global-stream-borderWidth) solid #FFF;
    background-color: var(--global-card-backgroundColor);
    padding: var(--global-whitespace-sm);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}



/*
    Component: Icons
*/

.c-icons-container {
    margin: var(--global-whitespace-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.c-icon-field {
    border-radius: 50%;
    margin: 0 calc(var(--global-stream-borderWidth)*2);
    padding: 5px;
    border: 1px solid rgba(90, 89, 89, 0.507);
    background-color: var(--global-icon-backgroundColor);
    transition: all var(--global-transition-icons);
}

.c-icon-field--int {
    width: var(--global-iconfield-width);
    height: var(--global-iconfield-width);
}

.c-icon-field:hover {
    background-color: var(--global-icon-backgroundColor-hover);
}

.c-icon-field--cam {
    width: var(--global-iconfield-width);
    height: var(--global-iconfield-width);
}

.c-icon-field--overlay {
    width: var(--global-iconfield-width);
    height: var(--global-iconfield-width);
}

.c-icon-field--overlay-cancel {
    background-color: red;
    width: var(--global-iconfieldCancel-width);
    height: var(--global-iconfieldCancel-width);
}

.c-icon-cam__overlay {
    width: var(--global-icon-cam-width);
    height: var(--global-icon-cam-width);
}

.c-icon-cam__overlay--cancel {
    fill: #FFF;
    width: var(--global-icon-overlayCancel-width);
    height: var(--global-icon-overlayCancel-width);
}

.c-icon-field--overlay-cancel {
    position: absolute;
    right: -20px;
    top: -15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .c-icon-field--overlay-cancel{
        right: -30px;
        top: -25px;
    }
}

@media (min-width: 768px) {
    .c-icon-field--overlay-cancel{
        right: -30px;
        top: -25px;
    }
}

.c-icon {
    width: var(--global-icon-width);
    height: var(--global-icon-width);
}

.c-icon-cam {
    width: var(--global-icon-cam-width);
    height: var(--global-icon-cam-width);
}

/*
    Component: Input
*/

.c-textinput-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--global-whitespace-sm);
}

.c-input {
    --input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 65%;
    border-radius: var(--input-borderRadius);
    border: var(--input-borderWidth) solid var(--input-borderColor, var(--global-input-borderColor));
    background-color: var(--input-backgroundColor);
    color: var(--global-input-color);
    font-weight: normal;
    font-size: var(--button-font-size);
    line-height: var(--input-lineHeight);
    /* margin-top: calc(var(--global-baseline) * 2); */
    padding: calc(var(--global-baseline)*0.8);
    outline: none;
    transition: var(--input-transition);
}

.c-input-has-error {
    border-color: crimson;
    border-width: 2px;
}

.c-input::placeholder {
    color: rgb(134, 134, 134);
}

/*
    Component: Button
*/
.c-send-button {
    font-size: calc(var(--global-font-size) * 1.5);
    font-weight: 500;
    border-radius: var(--button-borderRadius);
    border: 1px solid var(--button-borderColor);
    background-color: var(--button-backgroundColor);
    /* color: #fff; */
    padding: calc(var(--global-baseline)*0.8) calc(var(--global-baseline));
    line-height: calc(var(--global-baseline) * 2);
    width: 25%;
    margin: 0 calc(var(--global-whitespace-lg));
    outline: none;
    transition: var(--global-transition-button);
    pointer-events: all;
    /* box-shadow: var(--button-boxShadow, 0);
    transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out); */
}

.c-button-off {
    pointer-events: none;
    background-color: var(--button-backgroundColor-hover);
}

.c-send-button:hover {
    background-color: var(--button-backgroundColor-hover);

}

@media (min-width: 768px) {
    .c-int-container {
        height: 90px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }

    .c-icons-container {
        width: 40%;
        justify-content: space-around;
        align-items: center;
    }

    .c-textinput-container { 
        width: 60%;
    }

    .c-input {
        width: 75%;
    }

    .c-send-button {
        width: 20%;
        margin: 0 calc(var(--global-stream-borderWidth) * 2);
        padding: calc(var(--global-baseline)*0.8) calc(var(--global-baseline)*2.5);
    }
}

/* photobooth */

.c-pb-container {
    position: relative;
    margin-top: var(--global-whitespace-xxl);
    /* background-color: rgb(185, 147, 147); */
}

.c-pb__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--global-whitespace-md);
    background-color: var(--global-background-color);
    border: var(--global-stream-borderWidth) solid #FFF;
    border-radius: var(--global-borderRadius);
}

.c-pb__header-cont {
    display: flex;
    flex-direction: row;
}

.c-pb__buttons {
    width: 20%;
}

.c-pb__header--img-container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.c-pb__header--img-title {
    width: 100%;
}

.c-pb__header--img-footer {
    width: 100%;
}

.c-pb__header-title {
    margin: var(--global-whitespace-md) !important;
    /* padding: var(--global-whitespace-md); */
    font-size: calc(var(--global-font-size) * 4);
    font-weight: 600;
}

/*
    Component: Photbooth wall
*/

.c-pb__wall {
    height: auto;
    border-radius: 5px;
    margin: var(--global-whitespace-lg) 0;
}

.c-pb_wall--ul {
    display: flex;
    flex-wrap: wrap;
}

.c-pb_wall--li {
    /* width: 30% !important; */
    height: var(--pw-image-height);
    flex-grow: 1;
}

.c-pb_wall--li:last-child {
    flex-grow: 10;
}

.c-pb_wall--img {
    max-height: 100%;
    min-width: 100%;
    padding: 5px;
    object-fit: cover;
    vertical-align: bottom;
}

/*
    Component: Cam overlay
*/



.c-cam-overlay {
    position: fixed;
    z-index: 10;
    margin: 0 var(--global-whitespace-lg);
    width: var(--global-overlay-width);
    height: calc((var(--global-overlay-width)*0.57) * 1.15);
    padding: var(--global-overlay-padding);
    background-color: var(--global-overlay-backgroundColor);
    border-radius: var(--global-borderRadius);
}



.c-cam-overlay-hide {
    display: none;
    pointer-events: none;
}

/* .c-cam-temp {
    width: var(--global-overlay-cam-width);
    height: calc(var(--global-overlay-cam-width) * 0.57);
    background-color: #000;
    border-radius: var(--global-borderRadius);
    margin-bottom: var(--global-whitespace-md);
} */

.c-webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--global-overlay-cam-width);
    /* width: 95%; */
}

.c-webcam {
    /* width: var(--global-overlay-cam-width); */
    width: 100%;
    height: calc(var(--global-overlay-cam-width) * 0.57);
    border-radius: var(--global-borderRadius);
    margin-bottom: var(--global-whitespace-md);
}

.c-canvas {
    position: absolute;
    width: 100%;
    height: calc(var(--global-overlay-cam-width) * 0.57);
    border-radius: var(--global-borderRadius);
    margin-bottom: var(--global-whitespace-md);

}

.c-cam-options {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    /* background-color: rgb(201, 169, 169); */
}

.c-cam-select-field {
    width: 200px;
    display: flex;
    flex-direction: row;
}

.c-cams-selector {
    width: 20%;
}

.c-hide-refresh .c-refresh-btn {
    display: none;
}

.c-send-button-cam {
    font-size: calc(var(--global-font-size) * 2);
    font-weight: 400;
    border-radius: var(--button-borderRadius);
    border: 1px solid var(--button-borderColor);
    background-color: var(--button-backgroundColor);
    /* color: #fff; */
    padding: calc(var(--global-baseline)*2) calc(var(--global-baseline));
    line-height: calc(var(--global-baseline) * 2);
    width: 25%;
    /* margin: 0 calc(var(--global-stream-padding) * 1.2); */
    outline: none;
    /* box-shadow: var(--button-boxShadow, 0);
    transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out); */
}

.c-send-button-cam:hover {
    background-color: var(--button-backgroundColor-hover);
}

@media (min-width: 768px) {
    
    .c-send-button-cam {
        padding: calc(var(--global-baseline)*3) calc(var(--global-baseline)*1.5);
        line-height: calc(var(--global-baseline) * 2);
        width: 20%;
    }

    .c-cam-overlay {
        margin: 0;
    }
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-light {
    color: lightGray;
}

.u-color-neutral {
    color: Gray;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 32em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}